.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px 50px;
    width: 615px;
    background-color: #fff;
    border-radius: 20px;
}

.hint {
    margin: 25px 0;
}

.addButton {
    padding: 10.5px 10px;
    border-radius: 20px;
    background-color: #F6BF0C;
    color: #fff;
    border: none;
    cursor: pointer;
    justify-self: start;
    position: relative;
    width: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 24px;
    transition: background-color 0.2s ease-in-out;
}

.addButton:hover {
    background-color: #e5b411;
}

.plus {
    font-size: 24px;
}

.button {
    padding: 16px 43px;
    background-color: #F6BF0C;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #e5b411;
}
