.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px 50px;
    width: 615px;
    background-color: #fff;
    border-radius: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 36px;
}

.leftSide {
    width: 30%;
}

.leftSide .item {
    display: flex;
    justify-content: space-between;
}

.leftSide .item:not(:last-child) {
    margin-bottom: 40px;
}

.size {
    color: #C0C0C0;
}

.rightSide .item:not(:last-child) {
    margin-bottom: 12px;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 34px;
}

.button {
    padding: 16px 43px;
    background-color: #F6BF0C;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #e5b411;
}
